<!-- Footer -->
<div class="footer">
  <!-- Logo -->
  <div class="footer__logo">
    <img src="img/logo.png" alt="BankPro logo" />
  </div>
  <!-- Navigation -->
  <ul class="footer__nav">
    <li><a href="#">About BankPro</a></li>
    <li><a href="#">Personal Banking</a></li>
    <li><a href="#">Business Banking</a></li>
    <li><a href="#">Loans & Mortgages</a></li>
    <li><a href="#">Investment Services</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
  <!-- Copyright -->
  <p class="footer__copyright">&copy; by BankPro. All rights reserved.</p>
</div>
``
